:root {
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #660066;
}

.icono {
  font-size: 50px;
}

header {
  background-image: url(../img/bg_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.ultimos-trabajos {
  background-color: #660066;
}
